/*==================================================
reset
==================================================*/
/* line 5, base.scss */
a:active, a:focus, a:hover {
  outline: 0;
}

/* line 12, base.scss */
.btn.active.focus, .btn.active:focus {
  outline: 0;
}
/* line 16, base.scss */
.btn.focus {
  outline: 0;
}
/* line 20, base.scss */
.btn:active.focus, .btn:active:focus {
  outline: 0;
}
/* line 24, base.scss */
.btn:focus {
  outline: 0;
}

/* line 30, base.scss */
.form-control:focus, .form-control.focus {
  outline: 0;
}

/* line 36, base.scss */
a:focus, a:hover {
  text-decoration: none;
}

/* line 42, base.scss */
.btn.active, .btn:active {
  -webkit-box-shadow: none;
  -mox-box-shadow: none;
  box-shadow: none;
}

/* line 49, base.scss */
.form-control {
  -webkit-box-shadow: none;
  -mox-box-shadow: none;
  box-shadow: none;
}
/* line 53, base.scss */
.form-control:focus {
  -webkit-box-shadow: none;
  -mox-box-shadow: none;
  box-shadow: none;
}

/* line 60, base.scss */
.btn, .form-control {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-clip: padding-box;
}

/* line 77, base.scss */
.btn-group-vertical .btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
}
/* line 80, base.scss */
.btn-group-vertical .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
}

/* line 85, base.scss */
.dropdown-menu {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -mox-box-shadow: none;
  box-shadow: none;
}

/* line 104, base.scss */
button:focus {
  outline: 0;
}

/* line 108, base.scss */
html {
  height: 100%;
  background-color: transparent;
  overflow-x: hidden;
}

/* line 114, base.scss */
body {
  height: 100%;
  background-color: transparent;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.5;
  color: #dddddd;
}

/* line 127, base.scss */
.icons {
  display: inline-block;
}

/* line 131, base.scss */
::-moz-selection {
  background-color: #000000;
  color: #ffffff;
}

/* line 136, base.scss */
.dark ::-moz-selection {
  background-color: #ffffff;
  color: #000000;
}

/* line 141, base.scss */
::selection {
  background-color: #333333;
  color: #ffffff;
}

/* line 146, base.scss */
.dark ::selection {
  background-color: #ffffff;
  color: #000000;
}

/*
======== END RESET =====
*/
/* line 154, base.scss */
#intro {
  text-align: center;
}

/* line 157, base.scss */
.section-wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
}

/* line 162, base.scss */
.tb {
  /* full table */
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

/* line 169, base.scss */
.tb-cell {
  display: table-cell;
  vertical-align: middle;
}

/* line 173, base.scss */
.inner {
  /* section inner padding */
  padding: 80px 0;
}

/* line 177, base.scss */
.inner > .container {
  /* max width */
  max-width: 860px !important;
}

/* line 181, base.scss */
.section-title {
  position: relative;
}

/* line 184, base.scss */
.section-title {
  position: relative;
}

/* line 187, base.scss */
.letter {
  /* backface hidden */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform: translateY(-50%) !important;
  -moz-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  -o-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 100px;
  line-height: 100px;
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
  font-size: 100px;
  color: #c7c8c9;
  z-index: -1;
  opacity: .2;
}

/* line 211, base.scss */
.sub-title {
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3.5px;
  margin-top: 10px;
}

/* line 218, base.scss */
section {
  /* backface hidden */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  left: 0;
  top: 80px;
  bottom: 80px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
}

/* line 233, base.scss */
section.active {
  display: block;
}

/* line 236, base.scss */
.section-wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
}

/* line 242, base.scss */
.mobile-cover {
  display: none;
}

@media only screen and (max-device-width: 667px) {
  /* line 247, base.scss */
  section {
    position: relative;
  }

  /* line 250, base.scss */
  .inner {
    padding: 0;
  }
}
@media only screen and (max-device-width: 1024px) {
  /* line 255, base.scss */
  .mobile-cover {
    display: block;
    background-image: url(../img/bg.jpg);
    background-position: 50% 50%;
    opacity: 1 !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
  }
}
/* line 270, base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 285, base.scss */
h1 {
  font-size: 50px;
}

/* line 289, base.scss */
h2 {
  font-size: 50px;
}

/* line 293, base.scss */
h3 {
  font-size: 20px;
}

/* line 297, base.scss */
h4 {
  font-size: 18px;
}

/* line 301, base.scss */
h5 {
  font-size: 16px;
}

/* line 305, base.scss */
h6 {
  font-size: 12px;
}

/* line 309, base.scss */
a {
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* line 316, base.scss */
p {
  margin-bottom: 0;
  line-height: 1.5;
}

/*==================================================
button
==================================================*/
/* line 324, base.scss */
.btn {
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-family: "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 34px;
  line-height: 32px;
  padding: 0 35px;
}

/* line 339, base.scss */
.btn-lg,
.btn-group-lg > .btn {
  height: 46px;
  line-height: 44px;
  padding: 0 35px;
}

/* line 346, base.scss */
.btn-theme {
  /* edit color.css to change this value */
}

/*==================================================
form
==================================================*/
/* line 353, base.scss */
.form-control {
  font-family: "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.05em;
}

/* line 361, base.scss */
.form-control:focus,
.form-control.focus {
  border-color: #bbbbbb;
  background-color: rgba(255, 255, 255, 0.35);
}

/* line 367, base.scss */
.subscribe-notice,
.contact-notice {
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3.5px;
  letter-spacing: 1px;
  font-size: 13px;
  margin-bottom: 0;
}

/* line 378, base.scss */
.contact-notice {
  margin-top: 30px;
}

/* line 382, base.scss */
.valid .icons,
.valid.icons {
  /* form valid icon */
  color: #2ccdae;
}

/* line 388, base.scss */
.error .icons,
.error.icons {
  /* form error icon */
  color: #fc5152;
}

/* subscribe form */
/* line 395, base.scss */
#subscribe-form {
  padding: 15px;
  border: 1px solid #c7c8c9;
}

/* line 400, base.scss */
#subscribe-form .form-control:focus,
#subscribe-form .form-control.focus {
  border-color: #c7c8c9;
  background-color: transparent;
}

/* line 406, base.scss */
#subscribe-form .input-group-btn > .btn {
  border-color: #c7c8c9;
}

/* line 410, base.scss */
#subscribe-form .form-control {
  color: #333333;
  background-color: transparent;
  border-color: #c7c8c9;
  margin-bottom: 0;
}

/* line 417, base.scss */
#subscribe-form .input-group-btn .btn {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 422, base.scss */
.form-heading {
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 15px;
}

/* line 430, base.scss */
#contact-form {
  margin-top: 20px;
}

/* line 434, base.scss */
#contact-form .form-control {
  margin-bottom: 15px;
}

/* line 437, base.scss */
.color {
  color: #4a86b8;
}

/* line 440, base.scss */
.wrapper-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

/* line 447, base.scss */
.section-icon {
  display: inline-block;
  position: relative;
  margin-top: 5px;
}

/* line 452, base.scss */
.section-icon:before {
  background-color: #ffffff;
  position: absolute;
  display: block;
  top: 50%;
  left: -130px;
  content: "";
  width: 120px;
  height: 1px;
}

/* line 462, base.scss */
.section-icon:after {
  background-color: #ffffff;
  position: absolute;
  display: block;
  top: 50%;
  right: -130px;
  content: "";
  width: 120px;
  height: 1px;
}

/* line 472, base.scss */
.section-icon .icons {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

/* line 478, base.scss */
.section-content {
  margin-top: 50px;
}

/* line 481, base.scss */
.section-footer {
  margin-top: 50px;
}

/* line 484, base.scss */
.section-footer .btn {
  margin-bottom: 5px;
}

/*==================================================
preloader
==================================================*/
/* line 490, base.scss */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #000;
}

/* line 500, base.scss */
#preloader-ele {
  /* backface hidden */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  position: absolute;
  left: 50%;
  top: 50%;
}

/* ball */
@-webkit-keyframes ball-scale-ripple-multiple {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0.0;
  }
}
@keyframes ball-scale-ripple-multiple {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0.0;
  }
}
/* line 549, base.scss */
.ball-scale-ripple-multiple {
  position: relative;
  -webkit-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);
}

/* line 556, base.scss */
.ball-scale-ripple-multiple > div:nth-child(0) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

/* line 561, base.scss */
.ball-scale-ripple-multiple > div:nth-child(1) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

/* line 566, base.scss */
.ball-scale-ripple-multiple > div:nth-child(2) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

/* line 571, base.scss */
.ball-scale-ripple-multiple > div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

/* line 576, base.scss */
.ball-scale-ripple-multiple > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  top: -2px;
  left: -26px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid;
  -webkit-animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}

/* countdown */
/* line 591, base.scss */
#countdown {
  /* list unstyled */
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

/* line 602, base.scss */
#countdown li {
  padding: 0;
}

/* line 606, base.scss */
#countdown .time-wrap {
  /* backface hidden */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: -moz-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: -o-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
  position: relative;
  width: 72px;
  height: 72px;
  line-height: 70px;
  margin-top: 24px;
  border: 1px solid;
}

/* line 630, base.scss */
#countdown .time-wrap:hover {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* line 638, base.scss */
#countdown .time-wrap:hover .time {
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

/* line 646, base.scss */
#countdown .time-wrap:hover .time:before {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* line 654, base.scss */
#countdown .time-wrap .time {
  /* countdown time */
  /* backface hidden */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: -moz-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: -o-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 30px;
  letter-spacing: 0.05em;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 679, base.scss */
#countdown .time-wrap .time a {
  color: #fff;
  position: relative;
}

/* line 685, base.scss */
#countdown .time-wrap .time:before {
  /* backface hidden */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: -moz-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: -o-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 80px;
  height: 80px;
  border: 1px solid;
}

/* line 710, base.scss */
.unit {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 35px;
}
